<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} - Duck Study Hub</title>
	<link rel="stylesheet" href="/public/css/styles.css">
	<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
	</style>
</head>
<body>
	<header>              
		<!-- Navigation links -->
		<nav class="navbar">
			<ul>
				{{#if isSignedIn}}
					<li id = "logo"><a href="/studyspots"> <img src = "/public/images/DuckStudyHubLogo.svg" alt="Duck Study Hub Logo" title = "Home"></a> </li>
					<li class="nav-item"> <a href="/studyspots" class="nav-link">Study Spots</a></li>
					<li class="nav-item"> <a href="/forums" class="nav-link">Duck Study Hub Forums</a></li>
					<li id="uploadPost" class="auth"><a href="/studyspots/upload"><img src = "/public/images/createPost.svg" alt="Upload Study Spot" title = "Upload Study Spot" class="profile-icon"></a></li>
					<li id="profile"><a href="/profile">
						{{#if user.profilePic}}
							<img src="{{user.profilePic}}" alt="{{user.email}}'s Profile" title="Profile" class="profile-icon profile-pic">
						{{else}}
							<img src="/public/images/profile.svg" alt="Profile Icon" title="Profile" class="profile-icon">
						{{/if}}
					</a></li>
				{{else}}
					<li id = "logo"><a href="/"> <img src = "/public/images/DuckStudyHubLogo.svg" alt="Duck Study Hub Logo" title = "Home"></a> </li>
					<li class="nav-item"> <a href="/" class="nav-link">Study Spots</a></li>
					<li class="nav-item"> <a href="/" class="nav-link">Duck Study Hub Forums</a></li>
					<li class = "auth"> <a href="/" class="login-button">Sign In / Register With A Click!</a> </li>
				{{/if}}
			</ul>
		</nav>
	</header>
    
	<main>
		{{{body}}}
	</main>
    
	<footer>
		<p>
			Duck Study Hub initiated by Rishabh Dhadda with contributions from Anthony Eryan, Payton Bates, and Andrew Anantharajah.<br>
		</p>
	</footer>

	<script>
		{{#unless isSignedIn}}
			if (!document.cookie.includes('AuthenticationState') && window.location.pathname !== '/login' && window.location.pathname !== '/register')
				window.location.replace('/login');
		{{/unless}}
	</script>

</body>
</html>